<style>
   
    div {
        text-align: center;
        font-size: 20px;
        background-color: rgba(50, 50, 200, 0.7);
        width: 300px;
        height: 100%;
        /* border: 15px solid green;*/
        padding: 50px; 
        margin-right: auto;
        border-radius: 25px;
        color: white;
        border-style: solid;
    }

</style>
<div>
    <h1>Login </h1>

    <%= form_tag("/drivers/driver_sessions") do %>
        <%= label_tag :email %>
        <%= text_field_tag :email %><br>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag "Login"%>
    <% end %>
    <button><a href="drivers/signup">Sign Up</a></button> 
</div>