<style>
    ol {
        line-height: 30px;
        background-color: rgba(50, 50, 200, 0.5);
        margin: 0 800px 0 0;
        border-radius: 25px;
        color: white;
        border-style: solid;
    }

    ol > h1 {
        color: rgb(255, 255, 255);
    }

    li > a {
        color: white;
    }

    .job-name {
        font-size: 24px;
    }

    .price {
        font-size: 18px;
    }

    .due-date {
        color: yellow;
    }
</style>






<ol>
<h1>All Open Offers</h1>
    <% @offers.open.each do |o| %>
        <li><span class="job-name">Job Name: <%= o.job_name.capitalize %></span><br>
        Price Offer: <span class="price"><%= o.price_offer %></span><br>
        Due by: <span class="due-date"><%=o.due_date%></span><br>
        
        Submitted by: <%=o.user.email%><br>
        Open Offer Page: <%= link_to "#{o.job_name.capitalize} from #{o.user.email}", offer_path(o)%></li><hr><br>
    <% end %>
    
</ol>