<style>
    ol {
        line-height: 30px;
        background-color: rgba(50, 50, 200, 0.5);
        margin: 0 800px 0 0;
        border-radius: 25px;
        color: white;
        border-style: solid;
    }

    li > a {
        color: white;
    }
</style>






<ol>
<h1>All Open Offers</h1>
    <% @offers.open.each do |o| %>
        <li>Job Name: <%= o.job_name %><br>
        Price Offer: <%= o.price_offer %><br>
        Due by: <%=o.due_date%><br>
        
        Submitted by: <%=o.user.email%><br>
        Open Offer Page: <%= link_to "#{o.job_name} from #{o.user.email}", offer_path(o)%></li><hr><br>
    <% end %>
    
</ol>