<style>
    div {
        text-align: center;
        font-size: 20px;
        background-color: rgba(50, 50, 200, 0.7);
        width: 300px;
        /* border: 15px solid green;*/
        padding: 50px; 
        /* margin: 20px;  */
        margin: 0 200px 80px 450px;
        border-radius: 25px;
        color: white;
        border-style: solid;
    }

    .due-date {
        color: yellow;
    }
</style>





<div>
    <br>
    <h3>Job Name: <%= @offer.job_name %></h3><br>
    Price offer: <%= @offer.price_offer %><br>
    <span class="due-date">Due By: <%= @offer.due_date%></span><br>
    <br>
    Submitted by: <%= @offer.user.email %>

    <% if @offer.driver %>
        <h3>Accepted by: <%= @offer.driver.email %></h3>
    <% else %>
        <%= form_for(@offer) do |f| %>
            <%= f.submit "Accept this Offer" %>
        <% end %>
    <% end %>
</div>