<h1>New Driver Form</h1>

<%= form_for(@driver) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.label :truck_type %>
    <%= f.text_field :truck_type %><br>

    <%= f.label :truck_size %>
    <%= f.text_field :truck_size %><br>

    <%= f.label "List All Licenses" %>
    <%= f.text_area :license %><br>

    <%= f.submit "Create New Driver"%>

<% end %>