<p>Driver Name: <%= @driver.name.capitalize %></p>
<p>Driver Email: <%= @driver.email %></p>
<p>Truck Type: <%= @driver.truck_type.capitalize %></p>
<p>Truck Size: <%= @driver.truck_size %></p>
<p>Licenses: <%= @driver.license.split(" ").join(", " ) %><br></p>
<ol>
<% @driver.reviews.each do |x| %>
    <li><%= link_to x.title, review_path(x) %></li>
<% end %>
</ol>



