<h1>Review for Driver</h1>

<%= form_for (@review) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :content, "Review" %>
    <%= f.text_area :content %>

    <%= f.submit %>
<% end %>


