<!DOCTYPE html>
<html>
  <head>
    <title>MyHaul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
      
    <nav>
      <section>
        <%= link_to_unless_current "Open Offers", offers_path%> |
        <a href="/users/login">Employer Login</a> | <a href="/drivers/login">Driver Login</a> |
        <a href="/users/register">New Employer</a> | <a href="/drivers/signup">New Driver</a><br>
        <% if session[:user_id] %>
          <h1><%= @user.name %></h1>
          <h2>Email: <%= @user.email %></h2>
          <h2>Facebook UID: <%= @user.uid %></h2>
          <img src="<%= @user.image %>">
        <% else %>
          <%= link_to('Log in with Facebook!', '/auth/facebook') %>
        <% end %><br>
      </section>
      <section class="utility">
        <% if current_user %> 
        <%= link_to_unless_current "Home", root_path %> | 
        <%= link_to_unless_current "Make New Delivery Request", new_offer_path %> |
        <%= link_to_unless_current 'Logout', current_user_type == User ? user_logout_path : driver_logout_path, method: "post" %> | 
          
        
      </section>
      <section>
      
      You are logged in as: <%= current_user.email  %>

      </section>    
    </nav><br>
    
    <% end %>
    
    <%= yield %>
  </body>
  <footer><p text-color="blue">&copy 2020 MyHaul by Ian Marrs </p></footer>
</html>

