<!DOCTYPE html>
<html>
  <head>
    <title>MyHaul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
    <% if current_user %>   
    <nav>
      You are logged in as: <%= current_user.email  %> | 
        <%= link_to 'Logout', current_user_type == User ? user_logout_path : driver_logout_path, method: "post" %> | <a href="/offers/new">Make Delivery Request</a> | 
        <a href="/">Home</a>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
