<!DOCTYPE html>
<html>
  <head>
    <title>MyHaul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Lakki+Reddy|Londrina+Shadow|Righteous|Rye|Ultra|Fredericka+the+Great|' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>

    body {
      background-size: cover;
      background-image: url(https://images.unsplash.com/photo-1440098334316-9b3afb87b5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80)
    }

    .utility {
      color: blue;
      font-family: "Righteous";
    }

    .greeting-line {
      padding: 30px;
      font-size: 26px;
    }

    .user-email {
      font-size: 36px;
      font-family: "Fredericka the Great";
    }

  </style>

  <body> 
    <%# NAVBAR %>
    <nav>
      
<% if current_user %> 
        <section class="utility">
        <%= link_to_unless_current "Home", root_path %> |

        <%# RENDERING OFFERS BASED ON USER OR DRIVER %>
        <%= render partial: "layouts/driver_or_user"%>

        <%= link_to_unless_current "Open Offers", offers_path%> |
        <%= link_to_unless_current 'Logout', current_user_type == User ? user_logout_path : driver_logout_path, method: "post" %> | 
        <br/>
        
      </section>
      <section class="greeting-line">
      
      <p>You are logged in as: <u><span class="user-email"><%= current_user.email  %></span></u>!</p>

      </section>    
    </nav><br>
    
    <% end %>
    
    <%= yield %>
  </body>
  <footer><p text-color="blue">&copy 2020 MyHaul by Ian Marrs </p></footer>
</html>

